# Python notebook using R code

## rpy2

Seems rpy2 is the way folks like to bridge Python to R in 2019, so let's give that a whirl. (The author of this notebook has almost zero R coding experience.)

For example, [stackoverflow says](https://stackoverflow.com/a/58351182):

In [0]:
%load_ext rpy2.ipython

In [4]:
%%R 

X=c(1,4,5,7); sd(X); mean(X)

[1] 4.25

In [5]:
%R X=c(1,4,5,7); sd(X); mean(X)

array([4.25])